<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to My Portfolio</h1>
      <p>
        Hi there! I'm [Nemer J], a passionate [Student] based in [Berlin,
        Germany]. Welcome to my portfolio website!
      </p>
      <img src="profile.png" alt="Profile Picture" />
      <ul>
        <li><a href="https://github.com/nemerj19/">GitHub</a></li>
        <li>
          <a href="https://www.linkedin.com/in/nemer-abduljawid-8a93a1266/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </header>

    <main>
      <section id="projects">
        <h2>Projects</h2>
        <ul>
          <li>
            <h3>Project 1</h3>
            <p>Description of Project 1</p>
            <a href="#">Demo</a>
            <a href="#">GitHub</a>
          </li>
          <li>
            <h3>Project 2</h3>
            <p>Description of Project 2</p>
            <a href="#">Demo</a>
            <a href="#">GitHub</a>
          </li>
          <!-- Add more projects as needed -->
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 [Nemer J]. All rights reserved.</p>
    </footer>
  </body>
</html>
